.container {
    max-width: 1200px;
    margin: 0 auto;

    padding: 0 20px;
}

.app-header {
    padding: 40px 0 60px;
}

.title {
    text-align: center;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-appearance: none;

    padding: 7px 10px;
    font-size: 1.2em;
    font-weight: bold;

    background-color: $blue;
    color: $white;

    transition: background-color .18s ease-in-out;

    &:hover {
        background-color: $blue-dark;
    }
}