.card {
    position: relative;
    background-color: $second-color;

    border: #999;
    border-radius: 3px;

    .card-content {
        padding: 20px;
    }

    .card-title, .card-text {
        margin-bottom: 20px;
        color: $primary-color;
        font-size: 1em;
    }

    .card-title, .card-title .card-input {
        font-size: 1.2em;
        font-weight: bold;
    }

    .card-input {
        border: 1px solid #999;
        outline: none;
        background-color: transparent;
        -webkit-appearance: none;

        width: 100%;
    }

    textarea.card-input {
        // max-width: 100%;
        // max-height: 60px;
        resize: none;
    }

    .card-button-close {
        cursor: pointer;
        padding: 5px;
        position: absolute;

        top: 0;
        right: 0;

        color: red;
    }
}