$transition: cubic-bezier(.25,.8,.25,1);

.card {
    position: relative;
    background-color: $second-color;

    transition: all 0.3s $transition;

    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    .card-content {
        padding: 20px;
    }

    .card-title, .card-text {
        margin-bottom: 20px;
        color: $primary-color;
        font-size: 1em;
    }

    .card-title, .card-title .card-input {
        font-size: 1.2em;
        font-weight: bold;
    }

    .card-input {
        border: 1px solid transparent;
        outline: none;
        background-color: transparent;
        -webkit-appearance: none;

        width: 100%;
        font-size: 1em;

        transition: border-color .15s $transition;

        &:active, &:focus {
            border-color: #777;
        }
    }

    textarea.card-input {
        resize: none;
    }

    .card-button-close {
        cursor: pointer;
        position: absolute;

        top: 0;
        right: 3px;

        color: red;
        font-size: 24px;
        line-height: 24px;

        display: none;
    }

    &:hover, &.active {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

        .card-button-close {
            display: block;
        }
    }
}