.notify {
    position: fixed;
    top: 20px;
    right: 20px;

    .notify-alert {
        animation: fade .6s;
        padding: 10px 15px;

        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;

        background-color: $green;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}